<div class="name">
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div class="name">
    <%= f.label :content %>
    <%= f.text_field :content %>
</div>

<div class="name">
    <%= f.submit :Create %>
</div>