<div class="articles">
    <% @articles.each do |article| %>
        <div class="article">
            <div class="title">
                <%= article.title %>
            </div>
            <div class="content">
                <%= article.content %>
            </div>
            <div class="user-edit-destroy">
                <%= link_to "作成者名前", user_path(article.user_id) %>
                <%= link_to "編集", edit_article_path(article) %>
                <%= link_to "記事の削除", article_path(article), method: :delete %>
            </div>
        </div>
    <% end %>
</div>